/* Global */
body {
  opacity: 1;
  transition: 2s opacity;
}
body.fade {
  opacity: 0;
  transition: none;
}
.text-color {
  color: rgb(95, 215, 252);
}
.btn-color {
  background-color: #FF7070;
}
.icon-color {
  color: #FF7070;
}
.btn:hover {
  background-color: rgb(248, 90, 90);
}
.btn:focus {
  background-color: rgb(248, 90, 90);
}
.bold {
  font-weight: bold;
}
a {
  color: rgb(95, 215, 252);
}

/* JS animations */
@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}
@keyframes slide-right {
  from {opacity: 0; transform: scale(.7,.7); transform: translateX(-30px)}
  to {opacity: 1}
}

.fade-in-element {
  animation: fade-in 1.4s;
}
.hidden {
  opacity: 0;
}
.slide-in-element{
  animation: slide-right 1.4s;
}
.hidden-slide{
  opacity: 0;
}

/* Landing Section */
.landing-parallax {
  height: 100vh;
  position: relative;
}
.landing-img {
  height: 100vh;
}
.title-logo {
  width: 50vw;
}
.title-logo-wrapper {
  margin:0 auto;
  position:absolute;
  left:25%;
  top:30%;
  margin-left: -50px;
  margin-top: -50px;
}
.title-lead {
  margin-top: -80px;
  font-size: 26px;
  font-style: italic;
}
.nav-btn {
  font-weight: 500;
}

/* Blurb section */
.headshot-wrapper {
  margin: 3rem 0px;
}
.headshot {
  border-radius: 50%;
  border: solid 5px;
}
.blurb-lead-wrapper {
  margin: 6rem 0px;
}
.blurb-title {
  color: #FF7070;
}
.blurb-lead {
  margin: 0;
  /* font-weight: lighter; */
}
.blurb-wrapper {
  margin: 1rem 0;
}

/* Portfolio Section */
.portfolio-parallax {
  height: auto;
}
.portfolio-title {
  margin: 2rem auto;
  font-weight: bold;
}
.portfolio-title-wrapper {
  margin-bottom: 4rem;
}
.portfolio-title-follow {
  font-weight: bolder;
  color: #FF7070;
}
.project-links {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.project-rows {
  margin: 5rem 0;
}
.project-btns {
  text-align: center;
  margin: 1rem 1rem;
  white-space: nowrap;
}
.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}
.project-image img {
  border-radius: 10px;
  transform: scale(1,1);
  transition: all 0.5s;
}
.project-image img:hover {
  transform: scale(1.05,1.05);
}
.tech-used {
  font-weight: bold;
  font-size: 20px;
}
.devicon-projects {
  display: inline-block;
  font-size: 80px;
  margin: 1rem 1rem;
}
.devicon-img {
  display: inline-block;
  width: 70px;
  margin: 0.5rem;
}

/* About Me Section */
.resume-btn {
  text-align: center;
  margin: 2rem 0;
}
.tabs .indicator {
  background-color: #000;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
  background: transparent;
}
.devicon-wrapper {
  text-align: center;
}
.devicon {
  display: inline-block;
  font-size: 100px;
  margin: 3rem 1rem;
}
.devicon-edu {
  display: inline-block;
  font-size: 100px;
  margin: 3rem 0.1rem;
}
.edu-wrapper {
  margin: 2rem 0;
}
.education-title {
  font-weight: bold;
}
.education-grad {
  font-style: italic;
  margin: 0;
}
.contact-alignment {
  margin: 5rem 0;
  white-space: nowrap;
}
.contact-alignment h5 {
  text-align: left;
}
.contact-alignment a {
  color: black;
}
.contact-alignment a:hover {
  color: #FF7070;
  transition: all 0.5s;
}

/* Small Screens */
@media screen and (max-width: 993px){
  /* Landing */
  .title-logo {
    width: 60vw;
  }
  .title-logo-wrapper {
    left:30%;
    top:40%;
  }
  .title-lead {
    font-size: 15px;
    margin-top: -30px;
  }

  /* Portfolio */
  .project-links {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* Blurb */
  .headshot-wrapper img {
    width: 30rem;
  }
  .headshot-wrapper {
    text-align: center;
  }
  .blurb-lead {
    text-align: center;
  }
  .blurb-lead-wrapper{
    text-align: center;
    margin: 1rem 0px;
  }
  .blurb-lead-wrapper h1 {
    display: inline;
    margin: 0.2rem;
  }

  /* Contact */
  .contact-alignment {
    margin: 4rem 2rem;
  }
}